/* GLOBAL STYLES */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
    background-color: black;
}

body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

/* Cover Video */

#bgvideo {
    position: fixed;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;  
    opacity: 50%;
}

.vidwrap {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Mute-Unmute Button */

.spkrbtn {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 5;
    padding: 0;
    border: none;
    background: none;
    animation: fadeOutbtn 20s linear 0s 1 normal forwards;
    cursor: pointer;
}

.spkr {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 4;
    animation: fadeIn 5s;
}

.note {
    position: relative;
    color: #ca975f;
    font-family: 'Bebas Neue Pro';
    font-size: 25px;
    left: 60px;
    z-index: 5;
    margin: 0px;
    width: 500px;
    top: 10px;
    animation: fadeInOut 10s linear 0s 1 normal forwards;
    cursor: default;
    user-select: none;
}

/* Main */

.wrapper {
    position: relative;
    margin: auto;
    top: 8cm;
    min-width: 100%;
    min-height: 100%;
    z-index: 3;
}

/* Title */

.tlcont {
    position: absolute;
    min-width: 100%;
    height: 500px;
}

.stick {
    position: -webkit-sticky;
    position: sticky;
    top: 0cm;
    text-align: center;
    height: 100px;
    margin: auto;
    width: fit-content;
}

.title {
    position: relative;
    z-index: 1;
    animation: fadeInTitle 2s;
    margin: 0px;
}

.title a {
    color: #ca975f;
    font-family: 'Bebas Neue Pro';
    font-size: 100px;
    cursor: default;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    -webkit-user-drag: none;
    text-shadow: rgba(0,0,0,0.9) 0px 0px 39px;
}

.glowbtn {
    z-index: 3;
    position: absolute;
    width: 923px;
    height: 100px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    border: none;
    background: none;
}

#tlGlow {
    background-color: transparent;
}

.dropsh {
    position: relative;
    text-align: center;
    color: #0f0b07;
    z-index: 0;
    font-family: 'Bebas Neue Pro';
    font-size: 100px;
    animation: fadeInTitle 5s;
    user-select: none;
    cursor: default;
    margin: 0px;
}

.sh {
    position: relative;
    top: -115px;
    transition: all 0.5s;
}

.stick:hover .sh {
    top: -108px;
    transform: translateX(5px);
    animation: titleGlow2 10s ease-in-out infinite;
}

#tlfade {
    position: absolute;
    transform: translateY(-230px);
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all 0.5s;
}

.tlghost {
    text-align: center;
    color: #ca975f;
    font-family: 'Bebas Neue Pro';
    font-size: 100px;
    user-select: none;
    cursor: default;
    margin: 0px;
    z-index: 0;
    pointer-events: none;
    opacity: 0%;
}

#tlfade:is(h1:nth-of-type(1)) {
    transform: translateY(0px);
}

#tlfade:is(h1:nth-of-type(2)) {
    transform: translateY(0px);
}

#tlfade:is(h1:nth-of-type(3)) {
    transform: translateY(0px);
}

#tlfade:is(h1:nth-of-type(4)) {
    transform: translateY(0px);
}

#tlfade:is(h1:nth-of-type(5)) {
    transform: translateY(0px);
}

#tlfade:is(h1:nth-of-type(6)) {
    transform: translateY(0px);
}

.stick:hover #tlfade:is(h1:nth-of-type(1)) {
    opacity: 75%;
    transform: translateY(-100px);
}

.stick:hover #tlfade:is(h1:nth-of-type(2)) {
    opacity: 50%;
    transform: translateY(-200px);
}

.stick:hover #tlfade:is(h1:nth-of-type(3)) {
    opacity: 25%;
    transform: translateY(-300px);   
}

.stick:hover #tlfade:is(h1:nth-of-type(4)) {
    opacity: 75%;
    transform: translateY(100px);
}

.stick:hover #tlfade:is(h1:nth-of-type(5)) {
    opacity: 50%;
    transform: translateY(200px);
}

.stick:hover #tlfade:is(h1:nth-of-type(6)) {
    opacity: 25%;
    transform: translateY(300px);
}

/* Navigation Bar */

.navcont {
    position: absolute;
    top: 14cm;
    width: 100%;
    height: 75%;
}

.navconbg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0cm;
    width: 100%;
    overflow: hidden;
    animation: fadeIn 2s;
    z-index: 2;
    transition: 0.3s;
}

.nav a {
    float: left;
    color: white;
    text-align: center;
    width: 25%;
    font-size: 35px;
    color: #ca975f;
    font-family: 'Bebas Neue Pro Expanded Bold';
    text-decoration: none;
    opacity: 100%;
    user-select: none;
    -webkit-user-drag: none;
    background: #00000070;
    overflow: hidden;
}
  
.nav a:hover {
    color: #987045;
    text-shadow: rgb(215, 136, 0) 0px 0px 10px;
}

.nav a.active {
    color: bisque;
    background-color: #987045;
    cursor: default;
}

/* Content */

.contentdiv {
    position: relative;
    z-index: 1;
    height: 100%; 
    width: 100%;
    top: 530px; 
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 98%, rgba(48, 39, 28, 0.9) 100%);
}

.gradient {
    position: relative;
    z-index: 1;
    top: -50px; 
    height: 100px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(255,255,255,0) 100%);
}

.img {
    position: relative;
    width: 350px;
    height: 350px;
    z-index: 2;
    animation: fadeInContent 1s;
}

.coverimg {
    position: relative;
    width: 350px;
    height: 350px;
    z-index: 2;
    left: 90px;
    animation: fadeInContent 1s;
}

.aboutimg {
    position: absolute; 
    left: 900px; 
    width: 410px; 
    height: 291px; 
    top: 595px;
}

.home {
    position: relative;
    font-size: 45px;
    text-align: center;
    color: #ca975f;
    font-family: 'Bebas Neue Pro Bold';
    z-index: 2;
    margin: 0px;
    animation: fadeInContent 1s;
}

.spotify {
    position: absolute;
    right: 35px;
    top: 106px;
    z-index: 2;
    animation: fadeInContent 1s;
}

.about {
    position: relative;
    font-size: 35px;
    top: -350px;
    margin: 10px;
    text-indent: 50px;
    left: 525px;
    color: #ca975f;
    font-family: 'Bebas Neue Pro';
    z-index: 2;
    width: 750px;
    text-align: justify;
    animation: fadeInContent 2s;
}

.about2 {
    position: relative;
    font-size: 35px;
    margin: 10px;
    text-indent: 50px;
    color: #ca975f;
    font-family: 'Bebas Neue Pro';
    z-index: 2;
    width: 750px;
    text-align: justify;
    animation: fadeInContent 2s;
    left: 85px; 
    top: -250px;
}

.contwrap {
    position: relative;
    top: -30px;
    height: 50%;
}

.history {
    position: relative;
    font-size: 35px;
    margin: 10px;
    text-indent: 50px;
    left: 340px;
    color: #ca975f;
    font-family: 'Bebas Neue Pro';
    z-index: 2;
    width: 750px;
    text-align: justify;
    animation: fadeInContent 2s;
}

/* Animations */

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInTitle {
    0% { 
        transform: translateY(0.5cm);
    }
    100% { 
        transform: translateY(0cm);
    }
}

@keyframes fadeInContent {
    0% { 
        opacity: 0; 
        transform: translateY(20px);
    }
    100% { 
        opacity: 1; 
        transform: translateY(0px);
    }
}

@keyframes fadeInOut {
	0%,
	50%,
	100% {
		opacity: 0;
	}

	25%,
	75% {
		opacity: 1;
	}
}

@keyframes fadeOutbtn {
    0% {opacity: 0;}
    25% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes titleGlow {
    0% {
        text-shadow: rgba(0,0,0,0) 0px 0px 0px;
    }
    30%,
    70% {
        text-shadow: rgba(255,162,0,0.9) 0px 0px 39px;
    }
    100% {
        text-shadow: rgba(0,0,0,0) 0px 0px 0px;
    }
}

@keyframes titleGlow2 {
    0% {
        text-shadow: rgba(0,0,0,0) 0px 0px 0px;
    }
    20% {
        text-shadow: #0759d3e6 0px 0px 39px;
    }
    40% {
        text-shadow: #6014dae6 0px 0px 39px;
    }
    60% {
        text-shadow: #ffa200e6 0px 0px 39px;
    }
    80% {
        text-shadow: #aa1818e6 0px 0px 39px;
    }
    100% {
        text-shadow: rgba(0,0,0,0) 0px 0px 0px;
    }
}

/* Fonts Used */

@font-face {
    font-family: Bebas Neue Pro;
    src: url(./font/BebasNeuePro-Regular.ttf) format('truetype');
    font-style: normal;
}

@font-face {
    font-family: Bebas Neue Pro Bold;
    src: url(./font/BebasNeuePro-Bold.ttf) format('truetype');
    font-style: normal;
}

@font-face {
    font-family: Bebas Neue Pro Expanded Bold;
    src: url(./font/BebasNeuePro-ExpandedBold.ttf) format('truetype');
    font-style: normal;
}

/* Mobile Responsiveness */

@media (max-width: 900px) {
    .title a {
        font-size: 50px;
    }

    #tlfade {
        opacity: 0%;
    }

    .tlghost {
        opacity: 0%;
    }

    .dropsh {
        font-size: 50px;
        top: 55px;
    }

    .coverimg {
        left: 0px;
        width: 250px;
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .note {
        width: 250px;
    }

    .nav {
        position: relative;
    }

    .nav a {
        width: 50%;
    }

    .about {
        left: 0px;
        width: 340px;
        top: 25px;
    }

    .about {
        left: 0px;
        width: 340px;
        top: 50px;
    }

    @keyframes fadeInContent {
        0% { 
            opacity: 0; 
            transform: translateY(5px);
        }
        100% { 
            opacity: 1; 
            transform: translateY(0px);
        }
    }
}